.schedule {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  padding: 24px;
}

.schedule-title {
  padding-top: 24px;
  padding-bottom: 40px;
  font-size: 24px;
  text-align: center;
  display: inline-block;
  color: #fff;
  width: 100%;
}

.schedule-table {
  border: 1px solid #fff;
  table-layout: fixed;
  border-collapse: collapse;
  color: #fff;
  width: 100%;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #fff;
  padding: 8px;
  margin: 0;
}
