.chat {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  padding: 24px;
}

.chat-title {
  padding-top: 24px;
  padding-bottom: 40px;
  font-size: 24px;
  text-align: center;
  display: inline-block;
  color: #fff;
  width: 100%;
}

.chat-iframe {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  display: block;
}
