.main-menu {
  &-item {
    color: #ccc;
    font-size: 14px;
    padding: 8px 16px;
    z-index: 12;
    font-weight: 600;
    letter-spacing: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    &.active {
      color: #fff;
    }
  }
}
