.player {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #000;
  z-index: 2;
}

.player-wrapper {
  text-align: center;
  position: relative;
  z-index: 2;
  top: calc(50% - 22px);
  display: table;
  margin: 0 auto;
}

.player-info {
  font-size: 14px;
  margin-top: 35px;
  color: #fff;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px 12px;
  max-width: 300px;
  background: #000;
  border-radius: 4px;
}

.player-pause-button,
.player-play-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s;
}

.player-pause-button:hover,
.player-play-button:hover {
  transform: scale(1.1);
}

.player-canvas-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
