.player {
  position: fixed;
  bottom: 0;
  height: 80px;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  &-small {
    // display: none;
    height: 46px;
    background-color: #000;
    .player-pause-button,
    .player-play-button,
    .player-loading {
      width: 20px;
      height: 20px;
    }
    .player-info {
      padding-bottom: 2px;
    }
    // border-top: 1px solid #cecece;
  }
}

.player-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-info {
  color: #fff;
  font-size: 13px;
  // max-width: 310px;
  padding-bottom: 5px;
  padding-left: 16px;
  border-radius: 4px;
}

.player-loading {
  width: 30px;
  height: 30px;
  border: 3px solid;
  border-radius: 100%;
  display: inline-block;
  border-color: rgba(141, 141, 141, 0.6) rgba(141, 141, 141, 0.6) rgba(141, 141, 141, 0.6) #fff;
  animation: rotating 2s linear infinite;
}

.player-pause-button,
.player-play-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s;
}

.player-pause-button:hover,
.player-play-button:hover {
  transform: scale(1.1);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
